<launch>
<node name="monitorui" pkg="monitorui" type="monitorui" output="screen" >

  <param name="getimageservice" value="/dlib_tracker/get_image" />
  <param name="initservice" value="/dlib_tracker/init_tracker" />
  <param name="trackobject" value="/dlib_tracker/trackingObject" />

  <param name="camera" value="/usb_cam/image_raw" />

  <param name="image_transport" value="compressed" />

</node>
<!--
  <include file="$(find object_tracker)/launch/dlib_tracker_usb.launch" />
-->
</launch>
