<launch>
  <include file="$(find mtcamerdriver)/launch/mtcamerdriver.launch" />

<!--
  <node ns="mtcamerdriver" name="image_proc" pkg="image_proc" type="image_proc" respawn="false" output="screen" />

  <node name="image_view_rect" pkg="image_view" type="image_view" respawn="false" output="screen">
    <remap from="image" to="/mtcamerdriver/image_rect"/>
    <param name="autosize" value="true" />
    <param name="image_transport" value="raw" />
  </node>
-->
  <node name="cmt_tracker" pkg="cmt_tracker" type="cmt_tracker_node" respawn="false" output="screen" >
    <param name="image" value="/mtcamerdriver/image_raw" />
    <param name="target" value="trackingObject" />
  </node>

 </launch>
