<launch>
  <include file="$(find usb_cam)/launch/usb_cam-mjpeg.launch" />

  <node name="dlib_tracker" pkg="object_tracker" type="dlib_tracker" respawn="false" output="screen" >
    <param name="image" value="/usb_cam/image_raw" />
    <param name="target" value="trackingObject" />
    </node>
 </launch>
